In [3]:
import sqlite3

In [11]:
try:
    con = sqlite3.connect('data.db')
    cur = con.cursor()
    cur.execute('SELECT SQLITE_VERSION()')

    data = cur.fetchone()[0]

    print ("SQLite version: {}".format(data))

except (sqlite3.Error, e):
    print ("Error {}:".format(e.args[0]))
    con.rollback()
    sys.exit(1)
finally:
    if con:
        con.close()

SQLite version: 3.26.0

In [5]:
con =  sqlite3.connect('data.db')

with con:
    cur = con.cursor()
    cur.execute('create table book(id Int, title Text, author Text)')
    
    # Insert element's into table
    cur.execute('insert into book values(1, "Eleanor y Park", "Rainbow Rowell")')
    cur.execute('insert into book values(2, "La insoportable levedad del ser", "Milan Kundera")')
    cur.execute('insert into book values(3, "1984", "George Orwell")')
    cur.execute('insert into book values(4, "Rebelión en la granja", "George Orwell")')
    cur.execute('insert into book values(5, "Amor líquido", "Zygmunt Bauman")')

In [20]:
con = sqlite3.connect('data.db')

books = (
    (6, "Eleanor y Park", "Rainbow Rowell"),
    (7, "La insoportable levedad del ser", "Milan Kundera"),
    (8, "1984", "George Orwell"),
    (9, "Rebelión en la granja", "George Orwell"),
    (10, "Amor líquido", "Zygmunt Bauman")
)

with con:
    cur = con.cursor()
    cur.execute('drop table if exists book')
    cur.execute('create table book(id Int, title Text, author Text)')
    cur.executemany('insert into book values(?, ?, ?)', books)

In [7]:
con = sqlite3.connect('data.db')

with con:
    cur = con.cursor()
    cur.execute("select * from book")
    
    rows = cur.fetchall()
    
    for row in rows:
        print(row)

(1, 'Eleanor y Park', 'Rainbow Rowell')
(2, 'La insoportable levedad del ser', 'Milan Kundera')
(3, '1984', 'George Orwell')
(4, 'Rebelión en la granja', 'George Orwell')
(5, 'Amor líquido', 'Zygmunt Bauman')

In [12]:
with con:
    cur = con.cursor()
    cur.execute("select * from book")
    
    while True:
        row = cur.fetchone()
        if row == None:
            break;
            
        print("{} -- {} -- {}".format(row[0], row[1], row[2]))

1 -- Eleanor y Park -- Rainbow Rowell
2 -- La insoportable levedad del ser -- Milan Kundera
3 -- 1984 -- George Orwell
4 -- Rebelión en la granja -- George Orwell
5 -- Amor líquido -- Zygmunt Bauman

In [15]:
with con:
    con.row_factory = sqlite3.Row
    cur = con.cursor()
    cur.execute("select * from book")
    
    rows = cur.fetchall()
    
    for row in rows:
        print("{} -- {} -- {}".format(row["id"], row["title"], row["author"]))

1 -- Eleanor y Park -- Rainbow Rowell
2 -- La insoportable levedad del ser -- Milan Kundera
3 -- 1984 -- George Orwell
4 -- Rebelión en la granja -- George Orwell
5 -- Amor líquido -- Zygmunt Bauman

In [32]:
with con:
    con.row_factory = sqlite3.Row
    cur = con.cursor()
    cur.execute("insert into book values(6, 'some title', 'without author')")
    cur.execute("select * from book")
    
    rows = cur.fetchall()
    
    for row in rows:
        print("{} -- {} -- {}".format(row["id"], row["title"], row["author"]))
        
print("===============================")


with con:
    book_id = 6
    title = "De la brevedad de la vida"
    author = "Séneca"
    
    con.row_factory = sqlite3.Row
    cur = con.cursor()
    cur.execute("update book set title=?, author=? where id=?", (title, author, book_id))
    
    print("Row counts: {}".format(cur.rowcount))
    
    cur.execute("select * from book")
    rows = cur.fetchall()
    
    for row in rows:
        print("{} -- {} -- {}".format(row["id"], row["title"], row["author"]))

===============================
Row counts: 3
1 -- Eleanor y Park -- Rainbow Rowell
2 -- La insoportable levedad del ser -- Milan Kundera
3 -- 1984 -- George Orwell
4 -- Rebelión en la granja -- George Orwell
5 -- Amor líquido -- Zygmunt Bauman
6 -- De la brevedad de la vida -- Séneca
6 -- De la brevedad de la vida -- Séneca
6 -- De la brevedad de la vida -- Séneca

In [35]:
with con:
    params = {"id": 4}
    
    cur = con.cursor()
    cur.execute("select title from book where id=:id", params)
    
    row = cur.fetchone()
    print("Title for book with id={} is: {}".format(params["id"], row[0]))

Title for book with id=4 is: Rebelión en la granja